.tree {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tree li {
    white-space: nowrap;
}

.tree li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree-node {
    height: 18px;
    white-space: nowrap;
    cursor: pointer;
}

.tree-hit {
    cursor: pointer;
}

.tree-expanded,
.tree-collapsed,
.tree-folder,
.tree-file,
.tree-checkbox,
.tree-indent {
    display: inline-block;
    width: 16px;
    height: 18px;
    vertical-align: top;
    overflow: hidden;
}

.tree-expanded {
    background: url('images/tree_icons.png') no-repeat -18px 0px;
}

.tree-expanded-hover {
    background: url('images/tree_icons.png') no-repeat -50px 0px;
}

.tree-collapsed {
    background: url('images/tree_icons.png') no-repeat 0px 0px;
}

.tree-collapsed-hover {
    background: url('images/tree_icons.png') no-repeat -32px 0px;
}

.tree-lines .tree-expanded,
.tree-lines .tree-root-first .tree-expanded {
    background: url('images/tree_icons.png') no-repeat -144px 0;
}

.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
    background: url('images/tree_icons.png') no-repeat -128px 0;
}

.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
    background: url('images/tree_icons.png') no-repeat -80px 0;
}

.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
    background: url('images/tree_icons.png') no-repeat -64px 0;
}

.tree-line {
    background: url('images/tree_icons.png') no-repeat -176px 0;
}

.tree-join {
    background: url('images/tree_icons.png') no-repeat -192px 0;
}

.tree-joinbottom {
    background: url('images/tree_icons.png') no-repeat -160px 0;
}

.tree-folder {
    background: url('images/tree_icons.png') no-repeat -208px 0;
}

.tree-folder-open {
    background: url('images/tree_icons.png') no-repeat -224px 0;
}

.tree-file {
    background: url('images/tree_icons.png') no-repeat -240px 0;
}

.tree-loading {
    background: url('images/loading.gif') no-repeat center center;
}

.tree-checkbox0 {
    background: url('images/tree_icons.png') no-repeat -208px -18px;
}

.tree-checkbox1 {
    background: url('images/tree_icons.png') no-repeat -224px -18px;
}

.tree-checkbox2 {
    background: url('images/tree_icons.png') no-repeat -240px -18px;
}

.tree-title {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 2px;
    height: 18px;
    line-height: 20px;
}

.tree-node-proxy {
    font-size: 12px;
    line-height: 20px;
    padding: 0 2px 0 20px;
    border-width: 1px;
    border-style: solid;
    z-index: 9900000;
}

.tree-dnd-icon {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 18px;
    left: 2px;
    top: 50%;
    margin-top: -9px;
}

.tree-dnd-yes {
    background: url('images/tree_icons.png') no-repeat -256px 0;
}

.tree-dnd-no {
    background: url('images/tree_icons.png') no-repeat -256px -18px;
}

.tree-node-top {
    border-top: 1px dotted red;
}

.tree-node-bottom {
    border-bottom: 1px dotted red;
}

.tree-node-append .tree-title {
    border: 1px dotted red;
}

.tree-editor {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 14px !important;
    height: 18px;
    line-height: 14px;
    padding: 1px 2px;
    width: 80px;
    position: absolute;
    top: 0;
}

.tree-node-proxy {
    background-color: #ffffff;
    color: #000000;
    border-color: #95B8E7;
}

.tree-node-hover {
    /*background: #fff;*/
    color: #000000;
}

.tree-node-selected {
    background: #fff;
    color: #000000;
}

.left_node {
    /*height: 25px;*/
    position: absolute;
    /*width: 25px;*/
}

.right_node {
    /*height: 25px;*/
    position: absolute;
    /*width: 25px;*/
}

.undefined_node {
    left: 45%;
    position: absolute;

}

.leftline.linefloor2 {
    background: url("images/left1.png") repeat scroll 0 0 transparent;
    height: 37px;
    position: absolute;
    width: 170px;
    left: -175px;
    top: 25px;
}

.rightline.linefloor2 {
    background: url("images/right1.png") repeat scroll 0 0 transparent;
    height: 37px;
    position: absolute;
    width: 170px;
    right: -175px;
    top: 25px;
}

.leftline.linefloor3 {
    background: url("images/left2.png") repeat scroll 0 0 transparent;
    height: 35px;
    left: -72px;
    position: absolute;
    top: 24px;
    width: 75px;
}

.rightline.linefloor3 {
    background: url("images/right2.png") repeat scroll 0 0 transparent;
    height: 35px;
    position: absolute;
    width: 75px;
    right: -72px;
    top: 24px;
}

.leftline.linefloor4 {
    background: url("images/left3.png") repeat scroll 0 0 transparent;
    height: 36px;
    left: -33px;
    position: absolute;
    top: 23px;
    width: 37px;
}

.rightline.linefloor4 {
    background: url("images/right3.png") repeat scroll 0 0 transparent;
    height: 36px;
    position: absolute;
    width: 37px;
    right: -33px;
    top: 23px;
}

.leftline.linefloor5 {
    background: url("images/left4.png") repeat scroll 0 0 transparent;
    width: 20px;
    height: 35px;
    left: -14px;
    top: 24px;
    position: absolute;
}

.rightline.linefloor5 {
    background: url("images/right4.png") repeat scroll 0 0 transparent;
    width: 20px;
    height: 35px;
    right: -14px;
    top: 24px;
    position: absolute;
}

.leftline.linefloor6 {
    background: url("images/left5.png") repeat scroll 0 0 transparent;
    width: 15px;
    height: 35px;
    left: -1px;
    top: 24px;
    position: absolute;
}

.rightline.linefloor6 {
    background: url("images/right5.png") repeat scroll 0 0 transparent;
    width: 12px;
    height: 35px;
    right: -1px;
    top: 24px;
    position: absolute;
}

.left_node.nodefloor2 {
    left: -210px;
    top: 62px;
}

.right_node.nodefloor2 {
    right: -210px;
    top: 62px;
}

.left_node.nodefloor3 {
    left: -100px;
    top: 60px;
}

.right_node.nodefloor3 {
    right: -100px;
    top: 60px;
}

.left_node.nodefloor4 {
    left: -50px;
    top: 60px;
    cursor: pointer;
}

.right_node.nodefloor4 {
    right: -50px;
    top: 60px;cursor: pointer;
}

.left_node.nodefloor5 {
    left: -28px;
    top: 60px;
}

.right_node.nodefloor5 {
    right: -28px;
    top: 60px;
}

.left_node.nodefloor6 {
    left: -14px;
    top: 60px;
}

.right_node.nodefloor6 {
    right: -12px;
    top: 60px;
}

.personal-tree {
    width: 100%;
    height: 360px;
}

.personal_contain {
    padding: 15px;
}


.undefined_node{left:50%; position: absolute; }

.leftline.linefloor2{ 
    
    background: url("images/left1.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    height: 37px;

    position: absolute;

    width: 170px;

    /*left: -175px;

    top: 25px;  */
        left: -165px;
    top: 20px;

}

.rightline.linefloor2{ 

    background: url("images/right1.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    height: 37px;

    position: absolute;

    width: 170px;

 /*   right: -175px;

    top: 25px;  */
        right: -200px;
    top: 20px;

}

.leftline.linefloor3{ 

    background: url("images/left2.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    height: 35px;

   /* left: -70px;

    position: absolute;

    top: 25px;*/
        left: -58px;
    position: absolute;
    top: 18px;

    width: 75px;

}

.rightline.linefloor3{ 

    background: url("images/right2.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    height: 35px;

    position: absolute;

    width: 75px;

  /*  right: -72px;

    top: 24px;  */
        right: -82px;
    top: 19px;

}



.leftline.linefloor4{ 

    background: url("images/left3.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    height: 36px;

    left: -33px;

    position: absolute;

    top: 23px;

    width: 37px;

}

.rightline.linefloor4{ 

    background: url("images/right3.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    height: 36px;

    position: absolute;

    width: 37px;

    right: -33px;

    top: 23px;  

}



.leftline.linefloor5{ 

    background: url("images/left4.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    width: 20px;

    height: 35px;

    left: -4px;

    top: 24px;

    position: absolute;

}

.rightline.linefloor5{ 

    background: url("images/right4.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    width: 20px;

    height: 35px;

    right: -17px;

    top: 24px;

    position: absolute;

    

}

.leftline.linefloor6{ 

    background: url("images/left5.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    width: 15px;

    height: 35px;

    left: -8px;

    top: 24px;

    position: absolute;

}

.rightline.linefloor6{ 

    background: url("images/right5.png") repeat scroll 0 0 transparent;
background-repeat: no-repeat;
    width: 12px;

    height: 35px;

    right: -6px;

    top: 24px;

    position: absolute;

    

}

 

.left_node.nodefloor2{

    left: -218px;

    top: 62px;

}

.right_node.nodefloor2{

    right: -225px;

    top: 62px;

}

.left_node.nodefloor3{

    left: -90px;

    top: 60px;

}

.right_node.nodefloor3{

    right: -100px;

    top: 60px;

}



.left_node.nodefloor4{

    left: -50px;

    top: 70px;

}

.right_node.nodefloor4{

    right: -50px;

    top: 70px;

}

.left_node.nodefloor5{

    left: -24px;
    top: 74px;

}

.right_node.nodefloor5{

    right: -37px;
    top: 74px;

}

.left_node.nodefloor6{

    left: -14px;

    top: 60px;

}

.right_node.nodefloor6{

    right: -16px;

    top: 60px;

}

.personal-tree{width:100%; height:300px;}
.personal_contain{padding: 35px;padding-top: 0px}

.personal-tree a{
    font-size: 45px;
}

.personal-tree .type-1{
    color: #333333;
}

.personal-tree .type-2{
    /*color: #28A0B0;*/
}

.level2{
        background: url('icons/B2.png') no-repeat center center !important;
}

.personal-tree .type-1{
    background:url('icons/2.png') no-repeat center center;
     background-size: 40px;
    color: transparent !important;
        position: relative;
    top: -30px;
}
.personal-tree .type-2{
    background:url('icons/6.png') no-repeat center center;
    background-size: 40px;
    color: transparent !important;
    top: -28px;
    position: relative;
}
.personal-tree .type-add{
    background:url('icons/3.png') no-repeat center center;
     background-size: 40px;
    color: transparent !important;
    top: -28px;
    position: relative;
     cursor: pointer;
}
.personal-tree .type-replace{
    background:url('icons/4.png') no-repeat center center;
     background-size: 40px;
    color: transparent !important;
    top: -35px;
    position: relative;
    cursor: pointer;
}
span.btn.btn-default.btn-tree {
    border-radius: 40px;
}
.account-personal .tab-content{
    padding-top: 0 !important;
}
.btn-tree {
  
    display: inline-block;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.btn-tree span {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 5px 15px 5px 15px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 14px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .btn-tree span:hover {
                color: #b59a02;
    text-shadow: 0px -1px #ffe70c;
    cursor: pointer;
        }

        .btn-tree:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .btn-tree:active span{
            -webkit-transform: translate(0, 5px); /* depth of btn-tree press */
        }

.binaryTree{
    cursor: pointer;
}
@media (max-width: 769px) {

    div#tab-binary {
    overflow: auto;
    
}

}

